Options -Indexes
AddDefaultCharset UTF-8

<FilesMatch "\.(php)$">
    Deny from all
</FilesMatch>

<FilesMatch "^(index.php)|^(news.php)|^(view.php)">
    Allow from all
    Header set Cache-Control: "no-cache, no-store"
    Header unset ETag
</FilesMatch>

Header set X-Content-Type-Options nosniff